<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body  ng-app="myapp">
<% include header %>
<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <div class="col-md-12" style="margin-top: 20px;">
                <h3>About Us</h3>
                <p>Schedule Nock application which acts as a mediator between students and professors. There are many students facing lot of problems in search of their weekly class timings in the LMS calendar. To make the things easier to the students this application will help them to get their work done.</p>
                <p>It is a user-friendly app in which students can go through their LMS calendar and manage their weekly timetable as per their classes.</p>
                <p>This application is not only for the students in the university but also for the professors who are working in the university. Professors can also contact students through this application and update their availability.
                </p>
                <p>Contact Email : <a href="mailto:kakadiyahitesh20@gmail.com">kakadiyahitesh20@gmail.com</a></p>
            </div>
        </div>
    </section>
</div>
<% include footer %>
</body>

</html>

